* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.App {
  width: 1024px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}